#board {
  background-color: gray;
  margin: 10% auto 0 auto;
  width: 420px;
  height: 420px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.empty {
  border: 3px solid black;
  width: 130px;
  height: 130px;
  background-color: blue;
  margin: 2px;
  gap: 5%;
}

.puzzle {
  position: relative;
  border: 3px solid black;
  width: 130px;
  height: 130px;
  background-color: green;
  margin: 2px;
  gap: 5%;
}

.puzzle p {
  position: absolute;
  z-index: 3;
  color: black;
  font-size: x-large;
  font-weight: bold;
}

.puzzle img {
  position: absolute;
  z-index: 1;
  object-fit: fill;
  width: 130px;
  height: 130px;
}